// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #007991;
$yellow: #DBAF5A;
$orange: #ED532A;
$green: #1EDD88;
$gray: #0E0000;
$brown: #40362D;
$light-gray: #F4F4F4;
$light_pink: #FFE4CE;
