<footer>
 <div class="footer-right">
   <h3 class ="footer-h3">feel free to contact us</h3>
   <a href="">e-mail</a>
 </div>
 <div class="footer-left">
   <h3 class ="footer-h3">Follow us</h3>
   <ul class = "list_inline">
      <li class="inline"><a class="social_icon" href="https://arthur-littm.github.io/startup-landing/#"target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
      <li class="inline"><a class="social_icon" href="https://arthur-littm.github.io/startup-landing/#"target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
      <li class="inline"><a class="social_icon" href="https://arthur-littm.github.io/startup-landing/#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
 </div>
</footer>
