.navbar-lewagon {
  justify-content: space-between;
  background-color: $light-pink;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo {
  height: 55px;
  width: 75px;
}

.easyroad {
  height: 60px;
  width: 160px;
}

.nav-item a{
  text-decoration: none;
  padding: 5px;
  margin-left: 5px;
  color:#ed542aaa;
}

.nav-item a:hover{
  color: #ED532A;
}
