.navbar-lewagon {
  justify-content: space-between;
  background-color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo {
  height: 50px;
  width: 100px;
}

.nav-item a{
  text-decoration: none;
  padding: 5px;
  margin-left: 5px;
  color: rgba(255, 253, 253, 0.603);
}

.nav-item a:hover{
  color: rgba(255, 251, 251, 0.877);
}
