#searchbox{
  align-items: center;
  width: 700px;
  padding: 20px;
  background-color:rgba(246, 242, 242, 0.337);
  border-radius: 10px;

#searchBar{
  background-color:rgba(246, 242, 242, 0.771);
  border-radius: 5px;
  width: 75%;
  margin-left:3px;
  margin-right:3px;
}
}
